*{
    box-sizing: border-box;


}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; 
    background-color: #F6F8F9;
    font-weight: 600;



}

/* Header */
.banner{
    width: 100%;
    line-height: 10px;
    padding-left: 1rem;
    background-color: white;
 
}

img, h1{
    display: inline-block;
    font-size: 2rem;
    color: #031732;
    vertical-align: middle;

  
}

/* MAIN */
.box{
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: white;
    border-radius: 2px;
    height: 480px;

}

.buttons{
    padding-left: 50px;
    padding-top: 10px;
    font-size: 0.6rem; 
}

.button{
    display: inline-block;
    padding: 5px 9px;
    border-radius: 3px;


}

.addtask{
    color: white;
    background-color: #47ADF1;
    border: 1px #47ADF1 solid;


}

.addsection{
    color: lightslategray;
    background-color: white;
    border: 1px lightslategrey solid;

 
}

hr{
    border: #F6F8F9 solid 1px;
}


ul {
    list-style-type:  none;
    padding-left: 50px;
    

  }


  .check{
    color: #64C0A9;
    border: 1px #64C0A9 solid;





  }

.not{
    color: red;
    border: 1px red solid;


  }

span{
    border-radius: 50%;
    text-align: center;
    line-height: 18px;
    margin-right: 0.6rem;
    display: inline-block;
    vertical-align: middle;
    font-size: 0.6rem;
    width: 18px;
    height: 18px;

}
.task{
    margin-top: 30px;

}


li{
    vertical-align: middle;
    line-height: 18px;
    margin-top: 10px;

  }

ul > li > ul{
    padding-left: 0;
    font-weight: 400;
    font-size: 0.9rem;
    margin-bottom: 20px;



  }



.tag{
    color: white;
    border-radius: 8px;
    font-size: 0.5rem; 
    padding: 5px 9px;
    font-weight: 300;
    display: inline;
    vertical-align: middle;

  }

.editorial{
    background-color: #47ADF1;

  }

.q1{
    background-color: #9C72E4;

  }

  .rescruting{
    background-color: #64C0A9;
  }

  .mobile{
    background-color: #F29E33;
  }

.website{
    background-color: #D863A1;
  }

.sales{
    background-color: #B0C926;
  }


